<div class="register-container">
  <div class="register-card">
    <h4>Step 1 of 3</h4>
    <h1 class="register-title">Create a password to start your membership</h1>
    <h3>Just a few more steps and you are done!</h3>
    <h3>We hate paperwork, too.</h3>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <input
          type="text"
          id="email"
          placeholder="Email or phone number"
          formControlName="email"
          class="form-control"
        />
        <div
          class="errors"
          *ngIf="!email?.valid && (email?.touched || email?.dirty)"
        >
          <div [hidden]="!email?.errors?.['required']">
            Email or phone number is required
          </div>
          <div [hidden]="!email?.errors?.['minlength']">
            Minimum length is 10
          </div>
          <div [hidden]="!email?.errors?.['emailExists']">
            This email is already registered.
          </div>
        </div>
      </div>
      <div class="form-group">
        <input
          type="password"
          id="pwd"
          placeholder="Password"
          formControlName="pwd"
          class="form-control"
        />
        <div class="errors" *ngIf="!pwd?.valid && (pwd?.touched || pwd?.dirty)">
          <div [hidden]="!pwd?.errors?.['required']">Password is required</div>
          <div [hidden]="!pwd?.errors?.['minlength']">Minimum length is 8</div>
        </div>
      </div>

      <button type="Submit" [disabled]="!registerForm.valid" class="btn-submit">
        Next
      </button>
    </form>
  </div>
</div>
