.container {
    position: relative;
    width: 100%;
    height: 100vh;
    color: white;
    overflow: hidden;
  }
  
  .image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    filter: brightness(50%);
  }
  

  .content {
    position: absolute;
    bottom: 10%;
    left: 0;
    right: 0;
    padding: 0 40px;
    width: 100%;
    text-align: left;
    color: white;
  }
  
  /* Title styling */
  .content h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .movie-info {
    width: 60%;
    display: flex;
    margin-bottom: 20px;
  }
  
  .movie-info .rating {
    width: 15%;
  }
  
  .movie-info .runtime {
    width: 15%; 
  }
  
  .overview {
    width: 70%; 
  }
  
  .movie-info p {
    font-size: 1rem;
  }
  
  /* Styling for each genre */
  .genres {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
  }
  
  .genre {
    background-color: rgba(255, 255, 255, 0.4);
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 1rem;
    display: inline-block;
  }
  
  /* Release date styling */
  .release-date {
    font-size: 1.2rem;
    margin-bottom: 30px;
  }
  
  /* Button styling */
  .buttons {
    display: flex;
    gap: 20px;
  }
  
  button {
    background-color: #e50914;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    color: white;
  }
  
  button:hover {
    background-color: #f40612;
  }
  
  /* Play and Trailer buttons */
  .play-button {
    background-color: #e50914;
  }
  
  .trailer-button {
    background-color: rgba(109, 109, 110, 0.7);
  }
  
  /* Responsive design */
  /* @media (max-width: 768px) {
    .content {
      padding: 15px;
    }
    .content h1 {
      font-size: 2rem;
    }
    .movie-info {
      flex-direction: column;
      gap: 10px;
    }
    .buttons {
      flex-direction: column;
      gap: 10px;
    }
  } */
  

  .youtube-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .youtube-player-container {
    position: relative;
    width: auto;
    text-align: center;
  }