<div class="container">
  <div
    class="background-image"
    [style.backgroundImage]="
      'url(https://image.tmdb.org/t/p/w500/' + movie.poster_path + ')'
    "
  ></div>

  <img
    class="image"
    [src]="'https://image.tmdb.org/t/p/w500/' + movie.poster_path"
    alt="{{ movie.original_title }}"
  />
  <div class="details">
    <div class="title">{{ movie.original_title }}</div>
    <div class="content">
      <span class="tag year">{{ movie.release_date | date : "yyyy" }}</span>
      <span class="tag lang">{{ movie.original_language | uppercase }}</span>
      <span class="tag rating">{{ movie.vote_average }}</span>
    </div>
    <p class="overview">{{ movie.overview }}</p>
    <button (click)="movieDetails(movie)" class="details-btn">
      More Details
    </button>
  </div>
</div>
