<div class="login-container">
  <div class="login-card">
    <h1 class="login-title">Sign In</h1>
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <div class="form-group">
        <input
          type="email"
          id="email"
          placeholder="Email or Phone Number"
          class="form-control"
          formControlName="email"
          required
        />
        <div
          class="errors"
          *ngIf="!email?.valid && (email?.touched || email?.dirty)"
        >
          <div [hidden]="!email?.errors?.['required']">Email is required</div>
          <div [hidden]="!email?.errors?.['minlength']">
            Minimum length is 10
          </div>
        </div>
      </div>
      <div class="form-group">
        <input
          type="password"
          id="password"
          placeholder="Password"
          class="form-control"
          formControlName="password"
          required
        />
        <div
          class="errors"
          *ngIf="!password?.valid && (password?.touched || password?.dirty)"
        >
          <div [hidden]="!password?.errors?.['required']">
            Password is required
          </div>
          <div [hidden]="!password?.errors?.['minlength']">
            Minimum length is 8
          </div>
        </div>
      </div>
      <div class="errors" *ngIf="loginMsg">{{ loginMsg }}</div>
      <button type="submit" [disabled]="!loginForm.valid" class="btn-submit">
        Sign In
      </button>
      <h3 style="color: white">Or</h3>
      <button class="btn-oauth">Use SignIn code</button>
      <div class="extra-options">
        <a href="#" class="help-link">Forgot your password?</a>
        <p class="signup-text">
          New to Netflix?
          <a href="#" class="signup-link">Sign up now.</a>
        </p>
      </div>
    </form>
  </div>
</div>
