.container {
    background-color: black;
  }

  .list{
    display: flex;
    color: black;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 40px;
  }

  